<ol class="breadcrumb">
  <li>
    {{#link-to "index"}}Início{{/link-to}}
  </li>
  <li>
    {{#link-to "learning-object"}}Objetos de aprendizagem{{/link-to}}
  </li>
  <li class="active">
    {{truncate model.record.title 30}}
  </li>
</ol>

<div class="history-findOne">
  <div class="row">
    <div class="col-md-9">
      <h1 class="history-title">{{{model.record.title}}}</h1>
      <div class="history-metadata">
        {{#if model.record.publishedAt}}
          {{we-date model.record.publishedAt}}
        {{/if}}
      </div>
      <div class="history-featuredImage">
        {{#if model.record.featuredImage}}
          {{#each model.record.featuredImage as |i|}}
            {{render-image
              src=i.urls.large
              alt=model.record.title
              class="img-responsive img-thumbnail"
            }}
          {{/each}}
        {{else}}
          {{#if model.record.videoThumbnail}}
            {{render-image
              src=model.record.videoThumbnail
              alt=model.record.title
              class="img-responsive img-thumbnail featured-image-findOne"
            }}
          {{/if}}
        {{/if}}
      </div>

      <div class="history-body">{{{model.record.body}}}</div>

      <div class="clearfix"></div>

      {{#if model.record.videoUrls.length}}
        <div class="history-videos">
          <h4>Vídeos</h4>

          <div class="row">
            {{#each model.record.videoUrls as |v|}}
              <div class="col-sm-12 col-md-6">
                {{video-player url=v.url}}
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}

    </div>
    <div class="col-md-3 history-sidebar">
      <div class="history-cats">

        {{#if model.record.disciplinas.length}}
          <div class="ht-disciplinas">
            Disciplina(s): {{we-tags tags=model.record.disciplinas}}
          </div>
        {{/if}}
        {{#if model.record.temasTransversais.length}}
          <div class="ht-temasTransversais">
            Temas transversais(s): {{we-tags tags=model.record.temasTransversais}}
          </div>
        {{/if}}
        {{#if model.record.nivel_ensino.length}}
          <div class="ht-nivel_ensino">
            Nível: {{we-tags tags=model.record.nivel_ensino}}
          </div>
        {{/if}}
        {{#if model.record.faixaEtaria.length}}
          <div class="ht-faixetaria">
            Faixa etária(s): {{we-tags tags=model.record.faixaEtaria}}
          </div>
        {{/if}}

        <div class="ht-midia">
          Mídia: {{#if model.record.haveText}}<i class="fa fa-text-width" aria-hidden="true"></i>{{/if}}
          {{#if model.record.haveImage}}<i class="fa fa-picture-o" aria-hidden="true"></i>{{/if}}
          {{#if model.record.haveVideo}}<i class="fa fa-video-camera" aria-hidden="true"></i>{{/if}}
          {{#if model.record.haveAudio}}<i class="fa fa-volume-up" aria-hidden="true"></i>{{/if}}
        </div>
      </div>

      <div class="history-creator">
        <h3 class="history-creator-displayName">{{model.record.creatorDisplayName}}</h3>
        {{#if model.record.creatorCity}}
          <div class="user-location-data">
            <i class="fa fa-map-o" aria-hidden="true"></i> {{model.record.creatorLocationState}} / {{model.record.creatorCity}}
          </div>
        {{/if}}
      </div>

      <div data-we-region="sidebar" id="region-sidebar" class="">
        <div id="region-sidebar-widgets" class="region-widgets">
          <div
            id="widget-6"
            data-record-widget-type="share-page"
            data-model-widget="6"
            class="widget widget-share-page widget-"
          >
            <div class="widget-header">
              <h3>
                <bind-html model-widget-6="title">Compartilhar</bind-html>
              </h3>
            </div>
            <div class="widget-content">
              <div class="share-block">
                <a
                  href="https://twitter.com/intent/tweet?url=https://escolascriativas.com/history/2"
                  class="s-twitter"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="/icons/twitter.png"
                    alt="Compartilhar no Twitter"
                  >
                </a>
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=https://escolascriativas.com/history/2"
                  class="s-facebook"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="/icons/facebook.png"
                    alt="Compartilhar no Facebook"
                  >
                </a>
                <a
                  href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://escolascriativas.com/history/2&amp;title=Projeto Boralá"
                  class="s-linkedin"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="/icons/linkedin.png"
                    alt="Compartilhar no Linkedin"
                  >
                </a>
                <a
                  href="https://web.whatsapp.com/send?text=Projeto Boralá: https://escolascriativas.com/history/2"
                  data-action="share/whatsapp/share"
                  class="s-whatsapp-site"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="/icons/whatsapp.png"
                    alt="Compartilhar no Whatsapp"
                  >
                </a>
                <a
                  href="mailto:?subject=Projeto Boralá:&amp;body=Projeto Boralá - Leia mais no link: https://escolascriativas.com/history/2"
                  title="Compartilhar por Email"
                >
                  <img
                    src="/icons/email.png"
                    alt="Compartilhar por e-mail"
                  >
                </a>
              </div>
            </div>
          </div>
          {{#if model.relatedRecord.length}}
            <div
              data-record-widget-type="history-more-from-creator"
              data-model-widget="1"
              class="widget widget-history-more-from-creator widget-"
            >
              <div class="widget-header">
                <h3>Mais histórias</h3>
              </div>
              <div
                class="widget-content"
              >
                <div class="hmfc-list">
                  {{#each model.relatedRecord as |r|}}
                    <div class="hmfc-item">
                      {{#link-to "learning-object.item" r.id class="hmfc-link"}}

                        {{#if r.featuredImage}}
                          {{#each r.featuredImage as |i|}}
                            {{render-image src=i.urls.large alt=r.title class="hmfc-featuredImage img-thumbnail"}}
                          {{/each}}
                        {{else}}
                          {{#if r.videoThumbnail}}
                            {{render-image src=r.videoThumbnail alt=r.title class="hmfc-featuredImage img-thumbnail"}}
                          {{/if}}
                        {{/if}}

                        <h4 class="hmfc-title">{{truncate r.title 40 }}</h4>
                      {{/link-to}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>